/* 
    Document   : main
    Created on : May 2, 2013, 4:27:03 PM
    Author     : tarrsalah.org
    Description:
        Purpose of the stylesheet follows.
*/

#btnFindCourse,#btnFindCourseAdmin {			
	
	-fx-background-image: url("../img/xmag.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
#btnAddToCart {			
	
	-fx-background-image: url("../img/Debit_Cart_1.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
#btnDeleteCourse {			
	
	-fx-background-image: url("../img/delete.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
#btnInsertCourse {			
	
	-fx-background-image: url("../img/add.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
#btnEditCourse {			
	
	-fx-background-image: url("../img/repair.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
#btnAccept {			
	
	-fx-background-image: url("../img/yes.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
#btnCancel {			
	
	-fx-background-image: url("../img/no.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
#btnSave {			
	
	-fx-background-image: url("../img/blue_save.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
#btnNotSave {			
	
	-fx-background-image: url("../img/save.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
#btn10 {			
	
	-fx-background-image: url("../img/save.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;
        
}
